.img {
    white-space: nowrap;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    text-align: center;
    cursor: url("光标.png"), auto;
}

html {
    cursor: url("光标.png"), auto;
}